################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DirDiskUsage/obj/Debug
/.vs
/Backup
